<h1>
    FLYERS <span>View/Delete Flyers Infromation</span>
</h1>

<hr>
<div class="container-fluid clientPage">
    <div class="row">
        <div class="col-sm-2 flyer-box" ng-repeat="x in flyersData" ng-class="{'displayNone': x == 'system.indexes'}" data-toggle="modal" data-target="#showFlyer">
            <div class="flyer-data-box" ng-click="showFlyerData(x)" id="statusOf{{x}}">
                <div class="card">
                    <i class="fa fa-newspaper-o"></i>
                    <hr>
                    <h3>{{x}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="showFlyer">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">FLYER-PREVIEW</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body viewFlyers">
                <div class="flyerSheet" id="flyer">
                    <img src="../../img/logo.jpg" class="headerLogo1">
                    <img src="../../img/logo.jpg" class="headerLogo2">
                    <img src="../../img/logo.jpg" class="footerLogo1">
                    <img src="../../img/logo.jpg" class="footerLogo2">
                    <input type="text" class="headingInput" ng-model="flyerHeading" disabled>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 data-box" ng-repeat="x in viewbleFlyerData">
                                <img src="{{x.prod_image}}">
                                <hr>
                                <p>Category:<span>{{x.selected_Cat}}</span></p>

                                <hr>
                                <p>Product:<span>{{x.selected_Prod}}</span></p>

                                <hr>
                                <p>Price:<span>${{x.selected_Price}}</span></p>

                            </div>
                        </div>
                    </div>
                    <div class="addProduct"></div>
                    <h6 class="footerCopy">Copyrights <i class="fa fa-copyright"></i> Onkar Foods & Spices</h6>
                </div>
                <div class="form-group">
                    <label for="usr">Flyer Name:</label>
                    <input type="text" class="form-control" ng-model="flyerName" disabled>
                </div>
                <div class="form-group">
                    <label for="pwd">Flyer Unique Code:</label>
                    <input type="text" class="form-control" ng-model="flyerUniqueCode" disabled>
                </div>
                <div class="form-group">
                    <label for="pwd">Created On:</label>
                    <input type="text" class="form-control" ng-model="flyerCreationDate" disabled>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="" ng-click="deleteFlyer()" ng-disabled="dButton">In-Active Flyer</button>
                <button type="button" class="btn btn-success" data-dismiss="" ng-click="regainFlyer()" ng-disabled="dButton1">Active Flyer</button>
            </div>
        </div>
    </div>
</div>
