<h1>UPDATE / DELETE <span>Update Item in Stock</span></h1>
<hr>
<div class="new-item-form">

    <label>Select Category of Product to Update:</label>
    <select class="form-control" id="p_cat" name="sellist1" ng-model="p_cat" ng-change="getProductList()">
        <option value="snacks">Snacks</option>
        <option value="bakery">Bakery Product</option>
        <option value="cleanser">Cleanser</option>
        <option value="dairy">Dairy Product</option>
        <option value="frozen">Frozen Food</option>
        <option value="fruits">Fruits</option>
        <option value="paper">Paper Goods</option>
        <option value="personal">Personal Care</option>
        <option value="sweets">Sweets</option>
        <option value="vegetables">Vegetables</option>
        <option value="grocery">Grocery</option>
      </select>
    <div class="row">
        <div class="col-sm-6">
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Weight (kg)</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in stockData">
                            <td>{{$index}}</td>
                            <td class="product" ng-click="getThisItemData(x._id.$oid)">{{x.product_name}}</td>
                            <td>{{x.product_brand}}</td>
                            <td>{{x.product_weight}}</td>
                            <td>${{x.product_price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="p_name" placeholder="Product Name" ng-model="p_name">
            <textarea class="form-control" rows="5" id="p_des" placeholder="Product Description (Optional)" ng-model="p_des"></textarea>
            <input type="text" class="form-control" id="p_image" placeholder="Product Image Link (Optional)" ng-model="p_image">
            <input type="text" class="form-control" id="p_price" placeholder="Product Price $" ng-model="p_price">

            <input type="text" class="form-control" id="p_weigth" placeholder="Product Weight (If Any) (kg)" ng-model="p_weight">
            <input type="text" class="form-control" id="p_brand" placeholder="Product Brand (If Any)" ng-model="p_brand">
            <input type="text" class="form-control" id="p_id" placeholder="Product Unique Id" ng-model="p_id" disabled>

            <button type="button" class="btn btn-primary active" ng-click="update_product()">Update Product</button>
            <button type="button" class="btn btn-danger active cncl-btn" ng-click="delete_product()">Delete Product</button>
        </div>
    </div>


</div>
