<h1>COMPLETED ORDERS <span>Completed Order Details</span></h1>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Order ID</th>
            <th>Date/Time</th>
            <th>Client Name</th>
            <th>Client Address</th>
            <th>Ordered Items</th>
            <th>Order Type</th>
            <th>Order Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>asdadadadsad</td>
            <td>Jan 1,2015<br> 12:35 PM</td>
            <td>John</td>
            <td>42 Amherst Drive Kitchener</td>
            <td>Order Item Details</td>
            <td>Delivery</td>
            <td>Completed</td>
        </tr>


    </tbody>
</table>
